# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  annotate,
  ash,
  Biobase,
  coda,
  ellipse,
  gclus,
  gdata,
  geneplotter,
  gplots,
  gtools,
  hdrcde,
  moments,
  mvtnorm,
  polyapost,
  rcdd,
  RColorBrewer,
  stats,
  sm
)
